<div class="col-md-8 col-md-offset-2">
    <h1> <%= @item.title  %> </h1>
    <p> <%= @item.description %> </p>
    <div class= "col-md-4 col-offset-4">
    <%= link_to "Back", root_path %>
    <%= link_to "Edit", edit_item_path %>
    <%= link_to "Delete", item_path, method: :delete, data: {confirm: "Are You Sure ?"} %>
    </div>
</div>
